@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Tajawal", sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	background-color: #d3d2e3;
	overflow-x: hidden;
}

header {
	font-size: 2rem;
	font-weight: 700;
	height: 5%;
}

header h1 {
	font-size: 2rem;
	border: 1px solid #131313;
	border-top: 0;
	padding: 0rem 1.5rem;
	border-radius: 0 0 1rem 1rem;
}

#mainContainer {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

#btnContainer {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	gap: 2rem;
}

#sketchContainer {
	margin-top: -1.5rem;
	width: 30rem;
	height: 30rem;
	box-shadow: 0rem 0rem 0.5rem 0.15rem rgba(0, 0, 0, 0.15);
	background-color: #eaeaea;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

.square {
	user-select: none;
}

#colorPicker {
	width: 6rem;
	height: 2rem;
	border: none;
	border-radius: 50%;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	outline: none;
}

#colorPicker::-webkit-color-swatch {
	border-radius: 1rem;
	border: none;
}

#colorPicker::-moz-color-swatch {
	border-radius: 1rem;
	border: none;
}

.eraserBtn,
.colorBtn,
.clearBtn {
	width: 6rem;
	height: 1.75rem;
	color: #131313;
	font-size: 1rem;
	font-weight: 500;
	border: 1px solid #131313;
	border-radius: 0.4rem;
	cursor: pointer;
	transition: all 0.2s;
}
.clearBtn {
	width: 6rem;
	height: 1.75rem;
	color: #131313;
	font-size: 1rem;
	font-weight: 500;
	border: 1px solid #131313;
	border-radius: 0.4rem;
	cursor: pointer;
	transition: all 0.2s;
}
.eraserBtn:hover,
.colorBtn:hover,
.clearBtn:hover {
	transform: translate(7%, -7%);
	box-shadow: -0.3rem 0.3rem 0rem 0.1rem #131313;
}

.eraserBtn:focus,
.colorBtn:focus,
.clearBtn:focus {
	outline: none;
}

.active {
	background-color: #565656;
	color: #fff;
	font-weight: 700;
	border: 1px solid #565656;
}
.active:hover {
	transform: translate(7%, -7%);
	box-shadow: -0.3rem 0.3rem 0rem 0.1rem #565656;
}

#size {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.3rem;
	margin-top: 1.8rem;
}

#sizeSlider {
	-webkit-appearance: none;
	background-color: transparent;
	cursor: pointer;
	width: 10rem;
}

#sizeSlider:focus {
	outline: none;
}

#sizeSlider::-webkit-slider-runnable-track {
	height: 10px;
	border: 1px solid transparent;
	border-radius: 25px;
	background: #fff;
}
#sizeSlider::-moz-range-track {
	height: 10px;
	border: 1px solid transparent;
	border-radius: 25px;
	background: #fff;
}
#sizeSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 1rem;
	width: 1rem;
	border: 2px solid #131313;
	border-radius: 50%;
	background-color: #fff;
	margin-top: -4px;
}
#sizeSlider::-moz-range-thumb {
	border: none;
	border-radius: 0;
	background-color: transparent;
	height: 16px;
	width: 16px;
}

#size p {
	border: 1px solid #131313;
	border-radius: 0.3rem;
	padding: 0 0.6rem;
	background-color: #fff;
}

footer {
	width: 100%;
	height: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer a {
	font-weight: 700;
	color: black;
}

@media (max-width: 1200px) {
	#btnContainer {
		width: 600px;
	}
}

@media (max-width: 780px) {
	#mainContainer {
		flex-direction: row;
		gap: 5rem;
	}
	#btnContainer {
		flex-direction: column;
		width: 50px;
	}
	#sketchContainer {
		width: 20rem;
		height: 20rem;
	}
}
@media (max-width: 620px) {
	#btnContainer {
		transform: scale(0.75);
	}
	#sketchContainer {
		width: 15rem;
		height: 15rem;
	}
}

@media (max-width: 460px) {
	#mainContainer {
		flex-direction: column;
		gap: 1rem;
	}
	#btnContainer {
		display: grid;
		grid-template-columns: auto auto auto auto;
		place-items: center;
		gap: 0;
		margin-bottom: 1rem;
	}
	.colorBtn {
		grid-column-start: 2;
		grid-column-end: 4;
	}

	.clearBtn {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	#size {
		grid-column-start: 3;
		grid-column-end: 5;
	}
}
